*~
*.pyc
\#*\#
.\#*
/node_modules
/var
/rpmbuild
/npm-debug.log
/resources/static
.DS_Store
Thumbs.db
/locale
/resources/email_templates
/automation-tests

.awsbox.json
.jshintrc
.travis.yml
README.md
/docs
/example
