      </div>

      <% if (showLoading) { %>

      <!-- the loading screen should take up the entire
           screen and not just within the borders of the content
           -->
      <section id="load" class="message_screen">
        <div class="table">
            <div class="vertical">
                <div class="contents">
                    <div class="loadingSpinner"></div>
                    <h2 class="center"><%= gettext('Connecting to Persona...') %></h2>
                </div>
            </div>
        </div>
      </section>

      <section id="wait" class="message_screen">
          <!-- because each section is an absolutely positioned element, we have to use the inner table container element to be able to vertically/horizontally center correctly.  Without the table element, the layout gets all messed up. -->
          <div class="table">
              <div class="vertical">
                  <div class="contents">
                  </div>
              </div>
          </div>
      </section>

      <section id="error" class="message_screen">
          <div class="table">
              <div class="vertical">
                  <div class="contents">
                  </div>
              </div>
          </div>
          <p class="submit cf buttonrow isMobile">
              <button class="cancelDialog"><%= gettext('OK') %></button>
          </p>
      </section>

      <section id="delay" class="message_screen center">
          <div class="table">
              <div class="vertical">
                  <div class="contents">
                  </div>
              </div>
          </div>
      </section>

      <% } %>


      <footer>
<span id="footerText"><%- format(gettext('<strong>Mozilla Persona.</strong> Simplified sign-in by the non-profit behind Firefox. <a %s>Learn more&rarr;</a>'), [" href='/about' target='_blank'"]) %></span>
      </footer>


      <% if (useJavascript !== false) { %>
        <%- cachify_js(util.format('/production/%s/idp_authenticate.js', locale)) %>
      <% } %>
	</body>
</html>
